@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

.container {
    margin-top: 10%;
    margin-right: 15%;
    font-family: Montserrat;
}

.titleContent {
    font-size: 3em;
    text-wrap:balance;
}

.secondaryContent {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.buttonContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: row;  
    gap: 50px;  
}

.login {
    width: 120px;
    height: 40px;
    background-color: #00CE67;
    color: #fff;
    border-radius: 10px;
    font-family: Montserrat;
    font-weight: bold;
    cursor: pointer;
}

.login:hover {
    color: #fff;
    background-color: #FF7600;
    box-shadow: 2px 3px 6px #00000029;
}

.signup {
    width: 120px;
    height: 40px;
    border: 2px solid #353434;
    border-radius: 10px;
    font-family: Montserrat;
    background-color: hwb(136 89% 0%);
}