
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

.mainContainer {
    margin: auto;
    margin-right: 10%;
    font-family: Montserrat;
}

.contentContainer {
    margin-top: 50%;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: bold;
}
.primaryHeading {
    font-size: 2em;
    color: #fff;
    margin-bottom: 10%;
}

.button{
    text-align: center;
    /* margin-top: -200px; */
    background-color: #01CE67;
    border-radius: 50px;
    color: #ffffff;
    width: 150px;
    margin-top: 30px;
    cursor: pointer;
    height: 40px;
    border: 2px solid #fff;
  } 

  
  .button:hover{
    color: #01CE67;
    background-color: #ffffff;
    font-weight: bold;
  
  }
  .button:active {
    border: 2px solid rgb(28, 130, 26); /* Add a border when the button is clicked */
  }