@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
.bodyGradient{
  height: 100%;
  margin: 0;
  overflow: hidden;
} 
.container{
  max-width: max-content;
  max-height: max-content;
  margin-left: 10em;
  margin-top: 0em;
  
}
.container2{
  max-width: max-content;
  max-height: max-content;
  margin-left: 10em;
  margin-top: -5em;
}
.bodyGradient {
  background: linear-gradient(to right, white 0%, white 70%) left,
              linear-gradient(to right, #01CE67 70%,  #01CE67 100%) right;
  background-size: 70% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: max-content;
}
.heading{
  
  text-align: center;
      margin-left: -18em;
      width: 100%;
      height: auto;
      font-family: Montserrat;
      display: block;
      margin-top: -5em;
      font-size: 1.2em; 
}
.headSignup{
  text-align: left;
  margin-left: -18em;
  text-align: center;
  width: 100%;
  height: auto;
  font-family: Montserrat;
  display: block;
  margin-top: -5em;
  font-size: 1.3em; 
}
.CentwiseImage{
  width: 13%; 
  height: auto; 
  margin-bottom: 10em;
  margin-left: -8em;
}
.CentwiseImage1{
  width: 13%; 
  height: auto; 
  margin-bottom: 10em;
  margin-left: -8em;
}
   
  
   .n1{
     color: #ffffff;
    margin-left: 0vw;
    text-align: center;
    font-size: 1.3em; 
    
  } 
  .new{
    margin-left: 57em;
    margin-top: -300px;
    text-align: justify;
  
  }
  .text{
    text-align: center;
    margin-top: 0em;
    margin-left: 2em;
    font-size: 1.3em; 
    
  }
  .n2{
    color: #ffffff;
   margin-left: 0vw;
   text-align: center;
   font-size: 1.3em; 
   
 } 
 .new2{
  margin-left: 57em;
  margin-top: -25em;
  text-align: justify;

}
  .text2{
    text-align: center;
    margin-top: 0em;
    margin-left: 2em;
    font-size: 1.3em; 
    
  }
  
  

  .Or{
    margin-top: 2%;
    margin-left: 18%;
    width: 90%; 
    height: 2em;
  font-family: Montserrat;
  
  }
  .signin{
    margin-top: -5%; 
    text-align:center;
    font-family: Montserrat;
    width: 37%;
   
    border-radius: 50px;
    border: 0.5px solid;
    margin-left: auto;
    margin-right: auto;
    
  }
  .signin:active {
    border: 2px solid  #01CE67; /* Add a border when the button is clicked */
  }
  
  .myimage
  {
    /* margin-top: 0.2px; */
    left: 50%;
    width: 6%;
    height: auto;
  background: transparent;
  text-align: center;
  margin-bottom: -8px;
  
  }
  .email{
    margin-top: 1em;
    /* margin-left: 50px; */
    width: 37%;
    height: 2.5em;
   border: 0.8px solid;
   border-radius: 5px;
  }
  *:focus{
    outline: none;
  }
  .email:focus,
  .email:focus-visible {
    border: 2px solid  #01CE67;
  }
  .email::placeholder{
    color: #999; 
    /* font-style: italic; */
    font-family: Montserrat;
    text-align: justify;
    
  }

  .passwordRequirements{
    font-family: Montserrat;
    font-size:small;
  }
  
  .submit{
    text-align: center;
    margin-left: 30%;
    background-color: #01CE67;
    margin-top: 5%;
    border-radius: 50px;
    color: #ffffff;
    width: 50%; 
    border-color: #ffffff;
    /* margin-top: -1000px; */
    
  }
  .submit:hover{
    background-color: rgb(24, 185, 3)
  }
  .submit2{
    text-align: center;
    margin-left: 30%;
    background-color: #01CE67;
    margin-top: 5%;
    border-radius: 50px;
    color: #ffffff;
    width: 50%; 
    border-color: #ffffff; 
  }
  .submit2:hover{
    background-color: rgb(24, 185, 3)
  }
  
  .signup{
    text-align: center;
    margin-left: 10%;
    margin-top: 1.5em;
    background-color: #01CE67;
    border-radius: 50px;
    color: #ffffff;
    width: 11%;
    border-color: #ffffff;
    
  }.signup:hover{
    background-color: rgb(24, 185, 3)
  }
  .signup:active {
    border: 2px solid rgb(28, 130, 26); 
  }
   .startsignin{
    text-align: center;
    margin-left: 12%;
    /* margin-top: -200px; */
    background-color: #01CE67;
    border-radius: 50px;
    color: #ffffff;
    width: 11%;
    border-color: #ffffff;
    margin-top: 1em; 
    cursor: pointer;
  } 

  
  .startsignin:hover{
    background-color: rgb(24, 185, 3)
  
  }
  .startsignin:active {
    border: 2px solid rgb(28, 130, 26); /* Add a border when the button is clicked */
  }
 
  .showpassword{
    margin-left: -130px;
    font-size: small;
    border: none;
  }
  .showpassword:hover{
    background-color: #e4e0e0e9;
  }
  .showconfirmpassword{
    margin-left: -130px;
    font-size: small;
    border: none;
  }
  .showconfirmpassword:hover{
    background-color: #e4e0e0e9;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent; 
     padding: 0.6em 1.2em; 
    font-size: 1em;
    background-color: #ffffff;
    cursor: pointer; 
   } 

   .forgotPassword{
    font-size: small;
    margin-top: 3em;
    margin-left: 25em;
   }
   .forgotPassword:active{
    border: 2px solid  #01CE67;

   }
   .forgotPassword:hover{
    background-color: #fff9f9e9;
   }